<html>

<head>
    <meta charset="UTF-8" />
    <title>영화 상세 정보</title>
</head>

<body>
    <h1>영화 추가 페이지</h1>
    <div >
      <form method="post" action="">
        <input type='text' style="display:block" name='title' placeholder='영화제목을 입력하세요' />
        <input type='text' style="display:block" name='director' placeholder='감독을 입력하세요' />
        <input type='text' style="display:block" name='year' placeholder='연도를 입력하세요' />
        <input type='text' style="display:block" name='synopsis' placeholder='요약줄거리를 입력하세요' />
        <input type='submit' value="입력"/>
      </form>
    </div>
</body>
</html>
