<html>
<head>
   <meta charset="UTF-8" />
    <title>EJS Example</title>
</head>
<body>
    <h1>Favorite Movies</h1>

    <ul>
        <% data.forEach(function(item){ %>
        <li> <a href='<%= item._id %>'>  <%= item.title %> </a></li>
        <% }); %>
    </ul>
    <a href='/addmovie'>영화입력</a>
</body>
</html>
